body {
  color:rgb(0,0,0);
  font-family: "Courier New", "Lucida Console", Times, Serif;
  margin-left:50px;
  align-items:center;
}
p{
  margin-left:50px;
  color:rgb(0,0,0);
  font-family: "Lucida Console", serif;
  font-size: 2em;
}
h1{
  margin-left:50px;
  color:rgb(0,0,0);
  font-family: "Lucida Console", serif;
  font-size: 2em;
}
body {
    background: radial-gradient(circle, pink, lightpink, white);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 400px;
    background-attachment: scroll;
}
body{
  align-items: center;
  align-content: center;
  margin-left: 50px
}
dl{
align-items:center;
color: rgb(0,0,0);
font-size: 1.3em;
font-family: "Lucida Console", serif;
margin-left: 50px;
margin-right:400px;
}
dl{
  border-style: solid;
  border-width: medium;
  background-color: rgba(255,255,255,0.4);
}

img{
  margin-left:300px;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: black
  color: white;
}

.topnav a.active {
  background-color: lightblue;
  color: white;
}
