<!doctype html>
<html>
<head>
  <title> Carry On | About Us </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="./CSS/lux.css">
  <link rel="stylesheet" type="text/css" href="./CSS/Aboutus.css">

</head>

<body>
  <ul>
    <li><a href="./templates/CarryOn.html">Home</a></li>
    <li><a class="active" href="./templates/AboutUs.html">About Us</a></li>
    <li><a href="./templates/Destinations.html">Destinations</a></li>
    <li><a href="./templates/Findbuddy.html">Find a Travel Buddy</a></li>
  </ul>

  <div>
    <img style="align:center;margin-left:25%;padding:1px 16px;" src="images/carryon.png" alt="Carry On" width="800">
    <p>
    Four girls have come together to help you travel in style without spending all your hard earned savings.<br>
    We believe that the world is a book and if you don't travel you are only reading one page. However, we also know how expensive travelling can be espeically if you don't know what you're doing in the city you are exploring.<br>
    Therefore, we have put together a list of our favourite "off the beaten track" holiday destinations, with information about where to stay, what to see and where to eat. <br>
    We don't want you falling into the trap of eating at the hot tourist spots and getting overcharged. Follow our guide and we promise you will have an amazing holiday without entering your overdraft. <br>
    Please let us know if you want us to write on any particular places.<br>
    We hope you enjoy!<br>
    Love<br>
    Issy, Sam, Kemi and Bev x
    </p>
    <br>
    <br>
    <br>

</div>

</body>
</html>






</body>

</html>
