{% extends "CarryOn.html" %}
<!DOCTYPE html>
<html>
<head>
    <title> Carry On | Bruges </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/bruges.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/bootstrap.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>

<body background="./static/images/bruges.jpg">
  <div class="topnav">
    <a href="./CarryOn.html">Home</a>
    <a href="./Aboutus.html">About Us</a>
    <a href="./Destinations.html">Destinations</a>
    <a href="./Findbuddy.html">Find a travel buddy</a>
  </div>

  <div>
      <h1 style="color:olivedrab;">Bruges, Belgium</h1>
  </div>

    <div>
      <p style="background-color:black;"> Dubbed Venice of the North, this quaint town has plenty to offer in ways of scenery, food and activity. </p>
    </div>
    <h1 style="color:olivedrab;"> What to do in Bruges </h1>
      <dl>
        <dt>Sint-Janshuismolen (Sint-Janshuis Mill)</dt>
        <dd> This windmill, built in 1770, remains in its original location and is the only one of its kind that still grinds flour and is open to visitors. </dd>
        <dt>Jan van Eyckplein</dt>
        <dd>This historical landmark named after famed Bruges painter Jan van Eyck is the former site of Bruges’ old harbour where ships unloaded and loaded. Now it’s where you can get a spectacular view of the canal and stunning facades of the Old Tollhouse, Pijndershuis and Burgher’s Lodge.</dd>
        <dt>Minnewaterpark</dt>
        <dd>If you are in Bruges in spring, summer or fall, make sure to take a stroll through this park located in the south, where you will get an optimal view of the city’s channels. The Flemish name translates to Lake of Love. True to its name, the park features a lake and a bridge that, according to local legend, grants eternal love to couples who walk over it. </dd>

      </dl>
    <h1 style="color:olivedrab;"> Where to stay in Bruges </h1>
      <dl>
        <dt>St Christopher's at the Bauhaus</dt>
        <dd>This hostel defies any reservations travelers may have about this form of lodging. Located in the heart of the city, this A minute’s walk from a bus stop, this modern hostel in 4 step-gabled houses on a cobbled street is a 14-minute walk from the Grote Markt market square and 3 km from the city train station. There is a restaurant, bar, lounge and nightclub on-location, and your stay includes free breakfast.</dd>
        <dt>Lybeer Hostel Bruges</dt>
        <dd>Along a narrow street and 2 minutes on foot from the nearest bus stop, this relaxed, redbrick hostel is 8 minutes' walk from both the medieval Belfry of Bruges and the historic Markt plaza.</dd>
        <dt>Snuffel Hostel</dt>
        <dd>This informal budget hostel is a 10-minute walk from the medieval Belfry of Bruges in the Markt plaza, and 2 km from Brugge-Sint-Pieters train station. There is a bar on the premises, and your stay includes free breakfast and walking tours.</dd>
      </dl>
  <h1 style="color:olivedrab;"> Where to eat in Bruges </h1>
      <dl>
        <dt>Vino Vino Tapas</dt>
        <dd>This gem is located away from the major tourist sites. Share plates of patatas bravas in candle light with your travel companions. Vino Vino is an intimate and tranquil location for a wholesome dinner.</dd>
        <dt>Blackbird</dt>
        <dd>Located in the picturesque Jan van Eyckplein quarter, this adorably decorated restaurant is the perfect setting for a weekend brunch, serving health-conscious spins on classic dishes, along with vegan-friendly options.</dd>
        <dt>Le Trappiste</dt>
        <dd>A visit to any city in Belgium would not be complete without getting your fill of the country's array of brews. This is a specialist beer bar nestled in an 800-year-old medieval cellar at the centre of Bruges, and just a short walk from the main Market Square — a staple tourist attraction. You will find an expansive selection of the best beers the country has to offer.</dd>
      </dl>
      <div>
        <footer class="panel-footerabout" align="center">
          <a href="https://twitter.com/CodeFirstGirls" class="social" target="_blank">
            <img title="Twitter" alt="Twitter" class="socialbutton" src="https://socialmediawidgets.files.wordpress.com/2014/03/01_twitter.png" width="100px" height="100px">
          </a>
          <a href="https://en-gb.facebook.com/codefirstgirls/" class="social" target="_blank">
            <img title="Facebook" alt="Facebook" class="socialbutton" src="https://socialmediawidgets.files.wordpress.com/2014/03/02_facebook.png" width="100px" height="100px">
          </a>
          <a href="https://www.linkedin.com/company/code-first-girls" class="social" target="_blank">
            <img title="LinkedIn" alt="LinkedIn" class="socialbutton" src="https://socialmediawidgets.files.wordpress.com/2014/03/07_linkedin.png" width="100px" height="100px">
          </a>
          <a href="https://www.instagram.com/codefirstgirls/" class="social" target="_blank">
            <img title="Instagram" alt="Instagram" class="socialbutton" src="https://socialmediawidgets.files.wordpress.com/2014/03/10_instagram.png" width="100px" height="100px">
          </a>
        </footer>
      </div>
  </body>

</html>
