<!DOCTYPE html>
<html>
<head>
    <title> Carry On | Bruges </title>
    <link rel="stylesheet" type="text/css" href="./CSS/bruges.css">
    <link rel="stylesheet" href="./CSS/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>

<body background="images/bruges.jpg">
  <div class="topnav">
    <a href="./templates/CarryOn.html">Home</a>
    <a href="./templates/Aboutus.html">About Us</a>
    <a href="./templates/Destinations.html">Destinations</a>
    <a class="active" href="./templates/Findbuddy.html">Find a travel buddy</a>
  </div>

  <body>
    <div>
      <h1 style="color:olivedrab;">Bruges, Belgium</h1>
    </div>

    <div>
      <p style="background-color:black;"> Dubbed Venice of the North, this quaint town has plenty to offer in ways of scenery, food and activity. </p>
    </div>
    <h1 style="color:olivedrab;"> What to do in Bruges </h1>
      <dl>
        <dt>Sint-Janshuismolen</dt>
        <dd> There are so many things to do that would cost a few euros or less. </dd>
        <dt>Gouden Handrei</dt>
        <dd></dd>
        <dt>Minnewater park</dt>
        <dd></dd>
        <dt>Vismarkt</dt>
        <dd></dd>
      </dl>
    <h1 style="color:olivedrab;"> Where to stay in Bruges </h1>
      <dl>
        <dt>St Christopher's at the Bauhaus</dt>
        <dd>This hostel defies any reservations travelers may have about this form of lodging. Located in the heart of the city, this A minute’s walk from a bus stop, this modern hostel in 4 step-gabled houses on a cobbled street is a 14-minute walk from the Grote Markt market square and 3 km from the city train station. There is a restaurant, bar, lounge and nightclub on-location, and your stay includes free breakfast.</dd>
        <dt>Lybeer Hostel Bruges</dt>
        <dd>Along a narrow street and 2 minutes on foot from the nearest bus stop, this relaxed, redbrick hostel is 8 minutes' walk from both the medieval Belfry of Bruges and the historic Markt plaza.</dd>
        <dt>Snuffel Hostel</dt>
        <dd>This informal budget hostel is a 10-minute walk from the medieval Belfry of Bruges in the Markt plaza, and 2 km from Brugge-Sint-Pieters train station. There is a bar on the premises, and your stay includes free breakfast and walking tours.</dd>
      </dl>
  <h1 style="color:olivedrab;"> Where to eat in Bruges </h1>
      <dl>
        <dt>Vino Vino Tapas</dt>
        <dd></dd>
        <dt>Blackbird</dt>
        <dd>Ideal location for brunch</dd>
        <dt>Bier</dt>
        <dd>A visit to any city in Belgium would not be complete without getting your fill of the country's array of brews. </dd>
      </dl>
  </body>

</html>
