{% extends "base.html" %}
{% block title %}CarryOn{% endblock %}

{% block head_css %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='static/CSS/style.css')}}"></link>
{% endblock %}
{% block content %}
<link rel="stylesheet" href="static/CSS/style.css">
<body>
  <body background="./static/images/backgroundall.jpg" height=3000px>

  <div class="topnav">
    <a class=active href="/CarryOn">Home</a>
    <a href="/AboutUs">About Us</a>
    <a href="/Destinations">Destinations</a>
    <a href="/Findbuddy">Find a travel buddy</a>
  </div>
  <div>

  <div>
    <br>
    <br>
    <img style="align:center; margin-right:200px; margin-left:400px;"src="./static/images/carryon.png" alt="Carry On" width="800">
    <p>
    <strong>We are here to help you explore Europe in style, without breaking your bank account!</strong><br>Click on a countries name below to see our advice for that country.
    </p>
  </div>
  <div>
      <map name="workmap">
        <area shape="circle" coords="400, 950, 100" alt="Rhonda" href="/Rhonda">
        <area shape="circle" coords="250, 930, 50" alt="Portugal" href="/Porto">
        <area shape="circle" coords="740, 890, 50" alt="Italy" href="/verona">
        <area shape="circle" coords="600, 680, 30" alt="Belgium" href="/bruges">
        <area shape="circle" coords="1270, 1100, 100" alt="Cyrpus" href="/paphos">
        <area shape="circle" coords="550, 790, 100" alt="France" href="/marseille">
        <area shape="circle" coords="800, 780, 50" alt="Austria" href="/salzburg">
        <area shape="circle" coords="780, 1100, 50" alt="Malta" href="/Valletta">
        <area shape="circle" coords="800, 300, 70" alt="Sweden" href="/Sweden">
        <area shape="circle" coords="700, 660, 70" alt="Germany" href="/Germany">
        <area shape="circle" coords="400, 550, 50" alt="Ireland" href="/Ireland">
        <area shape="circle" coords="1000, 800, 50" alt="Romania" href="/Romania">
      </map>
      <img style="align:center; margin:100px;"src= "./static/images/EuropePolitical.jpg" alt="Europe Map" usemap= "#workmap" width="1500">

  </div>

  <br>
  <br>
  <br>
</body>
{% endblock %}
