<!doctype html>
<html>
<head>
  <title> Carry On | Destinations </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="./CSS/lux.css">
  <link rel="stylesheet" type="text/css" href="./CSS/destinations.css">

</head>

<body>
  <ul>
    <li><a href="./templates/CarryOn.html">Home</a></li>
    <li><a href="./templates/AboutUs.html">About Us</a></li>
    <li><a class="active" href="./templates/Destinations.html">Destinations</a></li>
    <li><a href="./templates/Findbuddy.html">Find a Travel Buddy</a></li>
  </ul>

  <div>
    <img style="align:center;padding:1px 16px;" src="./images/carryon.png" alt="Carry On" width="800">
    <h3> If you'd rather a list instead of the interactive map here we go! Below are the destinations we have written about. </h3>
    <ol type="1">
      <a href="./templates/bruges.html"><li>Bruges</li></a>
      <a href="./templates/marseille.html"><li>Marseille</li></a>
      <a href="./templates/paphos.html"><li>Paphos</li></a>
      <a href="./templates/Porto.html"> <li>Porto</li>
      <li>Salzburg</li>
      <a href="./templates/Rhonda.html"><li>Ronda</li></a>
      <a href="./templates/Romania.html"><li>Romania</li></a>
      <a href="./templates/verona.html"><li>Verona</li></a>
      <a href="./templates/Valetta.html"><li>Valletta</li>
      <a href="./templates/Sweden.html"><li>Sweden</li>
      <a href="./templates/Germany.html"><li>Germany</li>
      <a href="./templates/Ireland.html"><li>Ireland</li>
    </ol>
    <br>
    <br>
    <br>

</div>

</body>
</html>






</body>

</html>
