{% extends "base.html" %}
{% block title %}Destinations{% endblock %}

{% block head_css %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='CSS/Destinations.css')}}"></link>
{% endblock %}
{% block content %}
<link rel="stylesheet" text="text/css" href="/static/CSS/destinations.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<body>
  <body background="./static/images/destinations.jpg">

  <ul>
    <li><a href="/CarryOn">Home</a></li>
    <li><a href="/AboutUs">About Us</a></li>
    <li><a class="active" href="/Destinations">Destinations</a></li>
    <li><a href="/Findbuddy">Find a Travel Buddy</a></li>
  </ul>

  <div>
    <img src="./static/images/carryon.png" alt="Carry On" width="800">
    <h3> If you'd rather a list instead of the interactive map here we go! Below are the destinations we have written about. </h3>
    <ol type="1">
      <a href="/bruges"><li>Bruges</li></a>
      <a href="/marseille"><li>Marseille</li></a>
      <a href="/paphos"><li>Paphos</li></a>
      <a href="/Porto"> <li>Porto</li></a>
      <a href="/salzburg"> <li>Salzburg</li></a>
      <a href="/Rhonda"><li>Ronda</li></a>
      <a href="/Romania"><li>Romania</li></a>
      <a href="/verona"><li>Verona</li></a>
      <a href="/Valletta"><li>Valletta</li></a>
      <a href="/Sweden"><li>Sweden</li></a>
      <a href="/Germany"><li>Germany</li></a>
      <a href="/Ireland"><li>Ireland</li></a>
    </ol>
    <br>
    <br>
    <br>
  </div>



</body>
{% endblock %}
