{% extends "base.html" %}
{% block title %}Germany{% endblock %}

{% block head_css %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='CSS/Destinations.css')}}"></link>
{% endblock %}
{% block content %}
<link rel="stylesheet" text="text/css" href="/static/CSS/germany.css">
<link rel="stylesheet" text="text/css" href="/static/CSS/bootstrap.css">


  <body background="./static/images/backgroundall.jpg">
      <div class="topnav">
        <a href="/CarryOn">Home</a>
        <a href="/AboutUs">About Us</a>
        <a href="/Destinations">Destinations</a>
        <a href="/Findbuddy">Find a travel buddy</a>
      </div>
      <div>
        <img src= "./static/images/carryon.png" alt= "Carry On" width="800" align=center>
        <p>
          <strong> Bonn, </strong>Germany;<br> <i>A student hub, birthplace of Beethoven, bursting with beer and blossoms.</i>
        </p>
      </div>

      <div>
        <h1> What to do in Bonn: </h1>
        <img class="img-section" src= "./static/images/cherrystreet_bonn.jpeg" alt="Bonn" class="floatRight">
        <dl class="section">
          <dt><strong>Cherry Blossoms </strong></dt>
          <dd> Cherry Blossoms can be found in places other than Japan and they're just a beautiful here.</dd>
          <dt><strong>Muesums</strong></dt>
          <dd>Visit a multitude of museums. So many options they've coined the area 'Museum Mile'</dd>
          <dt><strong>The birth place of Beethoven</strong></dt>
          <dd> Go and visit Beethoven's house while in Bonn.<br> Even if you only have a passing interest in classical music you’ll know something about Ludwig van Beethoven.</dd>
        </dl>
      </div>
      <br>
      <br>
      <div>
        <h1> Where to stay in Bonn: </h1>
        <img class="img-section" src= "./static/images/arithmeum_bonn.jpg" alt="Bonn" class="floatRight">
        <dl class="section">
          <dt><strong>Moten One Bonn-Beethoven </strong></dt>
          <dd> On a bustling corner 4 minutes by foot from the Beethoven House museum, <br>this laid-back hotel is a 5-minute walk from the Rhine River</dd>
          <dt><strong>Arkadenschlösschen Bonn</strong></dt>
          <dd>This property is also rated for the best value in Bonn! <br>Guests are getting more for their money when compared to other properties in this city.</dd>
          <dt><strong>Ibis Hotel</strong></dt>
          <dd> Cheap, cheerful, well located and has everything you need. What more can you want? Ibis is always a safe and great option. </dd>
        </dl>
      </div>
      <div>
        <h1> Where to eat in Bonn: </h1>
        <img class="img-section" src= "./static/images/aennchen_bonn.jpg" alt="Bonn" class="floatRight">
        <dl class="section">
          <dt><strong>Aennchen</strong></dt>
          <dd>Clearly a Bonn hidden gem - brilliant food, great service and all served in the LindenGarten on a warm summer's evening. <br>Really worth a visit when you are looking for good food and winelist.</dd>
          <dt><strong>Brauhaus Bönnsch </strong></dt>
          <dd>The unfiltered ale is a must at this congenial brewpub adorned with photographs of famous politicians great and failed, <br> from Willy Brandt to, yes, Arnold Schwarzenegger.</dd>
          <dt><strong>Eislabor</strong></dt>
          <dd> Delicious food and appealing prices, in a great decor.</dd>
        </dl>
      </div>
      <div>
        <br>
        <br>
        <br>
        <br>
      </div>




<div>
<button> This is really helpful </button>
<button> This is how this could be more helpful </button>
</div>


  </body>
{% endblock %}
