{% extends "base.html" %}
{% block title %}Ireland{% endblock %}

{% block head_css %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='CSS/ireland.css')}}"></link>
{% endblock %}
{% block content %}
<link rel="stylesheet" text="text/css" href="/static/CSS/ireland.css">
<link rel="stylesheet" text="text/css" href="/static/CSS/bootstrap.css">


<body background="./static/images/backgroundall.jpg">
    <div class="topnav">
      <a href="/CarryOn">Home</a>
      <a href="/AboutUs">About Us</a>
      <a href="/Destinations">Destinations</a>
      <a href="/Findbuddy">Find a travel buddy</a>
    </div>
  <div>
    <img src= "./static/images/carryon.png" alt= "Carry On" width="800" align=center>
    <p>
      <strong> Skibbereen</strong>, Ireland <br> <i>Prepare to be introduced to a wonderful place in the world called Skibbereen, which translates to mean 'litle boat harbour'.</i>
    </p>
  </div>
  <br>
  <div>
    <h1>What to do in Skibbereen:</h1>
    <img class="img-section" src= "./static/images/irish_sky_garden_skibbereen.jpg" alt="Skibbereen" class="floatRight">
      <dl class="section">
        <dt><strong>Visit the Irish Sky Garden</strong></dt>
        <dd>This floating garden in the sky is straight out of a fairy tale, but the real thing is nothing short of magical. </dd>
        <dt><strong>West Cork Food Festival</strong></dt>
        <dd>A Taste of West Cork Food Festival is an annual, ten day September event that celebrates not only West Cork's unique food culture, but also the people and land that produce that food.</dd>
        <dt><strong>East Cork Adventure Centre</strong></dt>
        <dd> Bringing together a host of hardworking, innovative food producers from all over the world.</dd>
      </dl>
    </div>
    <br>
    <br>
    <br>
    <div>
    <h1>Where to stay in Skibbereen:</h1>
    <img class="img-section" src= "./static/images/west_cork_hotel_skibbereen.jpg" alt="Skibbereen" class="floatRight">
      <dl class="section">
        <dt><strong>West Cork Hotel</strong></dt>
        <dd> Set on the banks of the River Ilen, this sophisticated hotel is opposite Skibbereen Heritage Centre and 12.6 km from the ferry port at Baltimore.  </dd>
        <dt><strong>Glencora</strong></dt>
        <dd>Just 1 km from St Patrick's Cathedral is this adorable bed and breakfast, with a garden and free wifi.</dd>
        <dt><strong>Russagh Mill Hotel</strong></dt>
        <dd> In a stone inn in the countryside, this relaxed hostel is 5 km from Knockdrum Stone Fort and 8 km from Lough Hyne. </dd>
      </dl>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div>
    <h1>Where to eat in Skibbereen:</h1>
    <img class="img-section" src= "./static/images/bookshop_cafe_skibbereen.jpg" alt="Skibbereen" class="floatRight">
      <dl class="section">
        <dt><strong>Antiquity Bookshop Cafe</strong></dt>
        <dd> Calling all vegans, this is the place for you. And you can stay all day and explore their 100s of books. </dd>
        <dt><strong>Kalbo's</strong></dt>
        <dd> This place uses locally sourced produce and a deft hand in the kitchen to produce breakfast dishes such as vanilla pancakes with fresh berries, and lunch specials that include goat's cheese salad with caramelised pears, Castletownbere crab salad and more.</dd>
        <dt><strong>Riverside Cafe</strong></dt>
        <dd> Roast veggies, goats cheese and pesto toasties, homemade fishcakes with tartare sauce, and chicken and chorizo pasta are among the choices at this popular spot, along with an all-day brunch menu. But the biggest draw is the riverside setting with alfresco seating in a sheltered yard at the back – a real lunchtime suntrap.</dd>
      </dl>
    </div>
    <div>
      <br>
      <br>
      <br>
      <br>
    </div>


</body>
{% endblock %}
