{% extends "base.html" %}
{% block title %}marseille{% endblock %}

{% block head_css %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='/CSS/marseille.css')}}"></link>
{% endblock %}
{% block content %}
<link rel="stylesheet" text="text/css" href="/static/CSS/marseille.css">
<link rel="stylesheet" text="text/css" href="/static/CSS/bootstrap.css">


<body background="./static/images/backgroundall.jpg">
  <div class="topnav">
    <a href="/CarryOn">Home</a>
    <a href="/AboutUs">About Us</a>
    <a href="/Destinations">Destinations</a>
    <a href="/Findbuddy">Find a travel buddy</a>
  </div>

  <div>
    <img src= "./static/images/carryon.png" alt= "Carry On" width="800" align=center>
    <p>
      <strong> Marseille,</strong> France<br><i>France’s second largest city sits at the intersection of the Mediterranean, North Africa and Western Europe.</i>
    </p>
  </div>
  <br>
  <div>
    <h1> What to do in Marseille: </h1>
    <img class="img-section" src= "./static/images/provence-marseille.jpg" alt="marseille" class="floatRight">
      <dl class="section">
        <dt>Chateau d'If</dt>
        <dd> Located offshore in the Bay of Marseille, this fortress that later became a state prison composes the smallest Island in this body of water. Francis I of France wanted this building to serve various functions, including the protection of the coast from invasion and surveying Marseille, which was annexed to France in 1480. As a state prison, dissidents who opposed official authority were detained there. This is also where Edmond Dantès, the protagonist in Alexandre Dumas’ The Count of Monte Cristo is imprisoned.</dd>
        <dt>Les Goudes, Marseille, France (water)</dt>
        <dd>Located in the stunning Calanques National Park, this small fishing village located just outside of Marseille’s centre offers a tranquil escape from the bustle of the city. It is the ideal location for some rock climbing or simply chilling by the sandy bay — perfect for a hot summer’s day.</dd>
        <dt>Parc Borély</dt>
        <dd>Dubbed one of the Notable Gardens of France, Parc Borély is an ideal location for an afternoon picnic. On the grounds, you will find the Chateau Borély, built for a rich Marseillais merchant named Louis Borély in the 18th century, as well as some basins and tropical plant life.</dd>
      </dl>
    </div>
      <br>
      <br>
      <br>
    <div>
    <h1> Where to stay in Marseille: </h1>
    <img class="img-section" src= "./static/images/marseille1.jpeg" alt="marseille" class="floatRight">
      <dl class="section">
        <dt>Aparthotel Adagio Access Marseille Saint Charles</dt>
        <dd>This straightforward apartment hotel is 2 minutes' walk from Gare de Marseille Saint-Charles train station and 1.3 km from the Muséum d'histoire naturelle de Marseille. Simple hotel offering studio & 1-bedroom apartments with kitchens, plus WiFi.</dd>
        <dt>Hotel Ariana</dt>
        <dd>low-key lodging in relaxed, modern rooms with free Wi-Fi & optional in-room breakfast. This modest, family-run hotel overlooks a pedestrian lane and a plaza in the city center's Noailles district. It's a 2-minute walk from Noailles metro station, a 3-minute walk from the daily markets at Rue du Marché des Capucins and 5.8 km from Plage du Prado beach.</dd>
        <dt>Hotel Marseille Centre Prefecture (Futur Ibis)</dt>
        <dd> Straightforward hotel offering flat-screen TVs with satellite channels, plus free Wi-Fi & a patio. In the Préfecture district, this casual hotel is a 5-minute walk from Notre-Dame du Mont metro station and a 15-minute walk from the Old Port.</dd>
      </dl>
    </div>
      <br>
      <br>
      <br>
    <div>
    <h1> Where to eat in Marseille: </h1>
    <img class="img-section" src= "./static/images/marseille2.jpg" alt="marseille" class="floatRight">
      <dl class="section">
        <dt>Marché de Noailles</dt>
        <dd>The city is known for its fresh food markets, offering up an array of herbs and spices that reflects it geographical situation. Noailles features baked goods, spices, fresh producer and so much more.</dd>
        <dt>Rooftop Bar at La Friche</dt>
        <dd>La Friche la Belle de Mai, a 45,000 square meters cultural site, built on the Seita's tobacco factory. Over the years, it has become a notable cultural venue in Europe, where you can take in visual arts and cultural entertainment. Its rooftop that overlooks the city is the perfect location to enjoy a cocktail on warm summer evening.</dd>
        <dt>La Tête de Chou</dt>
        <dd>Enjoy French cuisine made from locally acquired ingredients at this bistro located at heart of Marseille, nestled on a quite street, away from the bustle of the city. The menu changes every week, and will expose you to diverse flavours that Marseille has to offer.</dd>
      </dl>
    </div>
      <br>
      <br>

  </body>
{% endblock %}
