{% extends "base.html" %}
{% block title %}Porto{% endblock %}

{% block head_css %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='CSS/porto.css')}}"></link>
    <link rel="stylesheet" href="{{url_for('static',filename='CSS/bootstrap.css')}}"></link>
{% endblock %}
{% block content %}


<body>
  <div class="topnav">
    <a href="/CarryOn">Home</a>
    <a href="/AboutUs">About Us</a>
    <a href="/Destinations">Destinations</a>
    <a href="/Findbuddy">Find a travel buddy</a>
  </div>


  <div>

    <img src= "./static/images/carryon.png" alt= "Carry On" width="800" align=center>
    <p>
      <strong> Porto, </strong> <br>
    </p>
  </div>
  <div>
  <p1> What to do in Porto:</p1>
    <dl>
       <dt></dt>
       <dd> </dd>
       <dt></dt>
       <dd></dd>
       <dt></dt>
       <dd></dd>
    </dl>
  <h1> Where to stay in Porto </h1>
    <dl>
       <dt></dt>
       <dd></dd>
       <dt></dt>
       <dd></dd>
       <dt></dt>
       <dd></dd>
    </dl>
  <h1> Where to eat in Porto </h1>
    <dl>
       <dt></dt>
       <dd></dd>
       <dt></dt>
       <dd></dd>
       <dt></dt>
       <dd></dd>
    </dl>

  </body>
{% endblock %}
