{% extends "CarryOn.html" %}
<!doctype html>
<html>
<head>
<style>
  body {align: center}
</style>
  <title> Carry On | Rhonda </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/rhonda.css') }}" />
</head>


<body>
  <div class="topnav">
    <a href="./CarryOn.html">Home</a>
    <a href="./Aboutus.html">About Us</a>
    <a href="./Destinations.html">Destinations</a>
    <a href="./Findbuddy.html">Find a travel buddy</a>
  </div>
  <div>
    <img src= "./static/images/carryon.png" alt= "Carry On" width="800" align=center>
    <p>
      <strong> Ronda, the mountaintop city.</strong> <br> This city is really one of a kind. Make sure you take your camera on this trip and get ready for some breathtaking views (for free)!
    </p>
  </div>
    <br>
  <div>
    <h1>What to do in Ronda:</h1>
    <img class="img-section" src= "./static/images/ronda.jpg" alt="Ronda" class="floatRight">
      <dl class="section">
        <dt><strong>Wander</strong> </dt>
        <dd> <em>The best advice we can give you is to just wander the streets of Ronda. There is so much the city has to offer and you'll find all of it by just walking around. Take water and sunscreen if you're going in the summer. There's really no shortage of incredible views in this city.</em></dd>
        <dt><strong>El Tajo gorge</strong></dt>
        <dd> <em>Don't leave the city without taking in the El Tajo gorge. This is the heart of Ronda with a rocky drop plummenting over 100 meters down to the Guadalevin River. <br> The gorge cuts right through the centre of Ronda and splits the town in two. On one side is the Moorish old town and on the other is the 15th century El Mercadillo.</em></dd>
        <dt><strong>The plaza del Socorro</strong></dt>
        <dd><em>This is a beautiful plaza in the middle of the 'new' town. However we advise that you don't eat here as the restaurants are okay and the prices are crazy.</em></dd>
      </dl>
    </div>
      <br>
      <br>
      <br>
    <div>
    <h1>Where to stay in Ronda:</h1>
    <img class="img-section" src= "./static/images/ronda1.jpg" alt="Ronda" class="floatRight">
      <dl class="section">
        <dt><strong>The Alavero de los Banos</strong></dt>
        <dd> <em>A moroccan-style hotel with beautiful gardens full of flowers and a swimming pool overlooking the Roman Bridge.</em> </dd>
        <dt><strong>The Atico Exclusivo en Ronda</strong></dt>
        <dd><em>This apartment is amazing, and a lot cheaper than hotels at the same standard. With 2 bathrooms, 1 bedroom and a gorgeously large terrace you're spolit! To top it all off it's also only a 5 minute walk from the Puente Nuevo and has underground parking.</em></dd>
        <dt><strong>Aire De Ronda</strong></dt>
        <dd><em>Located in a particularly tranquil part of town, this hotel is one of those old-on-the-outside, supermodern-on-the-inside places that Spain does so well.</em></dd>
      </dl>
    </div>
      <br>
      <br>
      <br>
    <div>
    <h1>Where to eat in Ronda:</h1>
    <img class="img-section" src= "./static/images/ronda2.jpg" alt="Ronda" class="floatRight">
      <dl class="section">
        <dt><strong>De Locos Tapas</strong></dt>
        <dd><em> Here the menu changes frequently, and it is typically spanish with a huge choice of tapas.</em></dd>
        <dt><strong>Meson El Sacristan</strong></dt>
        <dd><em>This restaurant has a beautiful terrace and delicious food all for a good price.</em></dd>
        <dt><strong>Tragata</strong></dt>
        <dd><em>Located conveniently along the Calle Nueva. It serves delicious modern tapas and the decor is warm and inviting.</em></dd>
      </dl>
    </div>

    <div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
    <div>
      <footer class="panel-footerabout" align="center">
        <a href="https://twitter.com/CodeFirstGirls" class="social" target="_blank">
          <img title="Twitter" alt="Twitter" class="socialbutton" src="https://socialmediawidgets.files.wordpress.com/2014/03/01_twitter.png" width="100px" height="100px">
        </a>
        <a href="https://en-gb.facebook.com/codefirstgirls/" class="social" target="_blank">
          <img title="Facebook" alt="Facebook" class="socialbutton" src="https://socialmediawidgets.files.wordpress.com/2014/03/02_facebook.png" width="100px" height="100px">
        </a>
        <a href="https://www.linkedin.com/company/code-first-girls" class="social" target="_blank">
          <img title="LinkedIn" alt="LinkedIn" class="socialbutton" src="https://socialmediawidgets.files.wordpress.com/2014/03/07_linkedin.png" width="100px" height="100px">
        </a>
        <a href="https://www.instagram.com/codefirstgirls/" class="social" target="_blank">
          <img title="Instagram" alt="Instagram" class="socialbutton" src="https://socialmediawidgets.files.wordpress.com/2014/03/10_instagram.png" width="100px" height="100px">
        </a>
      </footer>
    </div>









</body>
</html>
