{% extends "base.html" %}
{% block title %}Romania{% endblock %}

{% block head_css %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='CSS/romania.css')}}"></link>
{% endblock %}
{% block content %}
<link rel="stylesheet" text="text/css" href="/static/CSS/romania.css">
<link rel="stylesheet" text="text/css" href="/static/CSS/bootstrap.css">


<body background="./static/images/backgroundall.jpg">
    <div class="topnav">
      <a href="/CarryOn">Home</a>
      <a href="/AboutUs">About Us</a>
      <a href="/Destinations">Destinations</a>
      <a href="/Findbuddy">Find a travel buddy</a>
    </div>
  <div>
    <img src= "./static/images/carryon.png" alt= "Carry On" width="800" align=center>
    <p>
      <strong> Bucharest, </strong>Romania <br> <i>We promise you will find Romania to be far more wonderful than you expected it to be.</i>
    </p>
  </div>
  <br>
  <div>
    <h1>What to do in Romania:</h1>
    <img class="img-section" src= "./static/images/romania.jpg" alt="Romania" class="floatRight">
      <dl class="section">
        <dt><strong>Walk around and relax in the Garden of Eden</strong></dt>
        <dd>Bucharest is easily a city you can walk around. If you have time its well worth exploring the whole city. Venture out north to find the Garden of Eden. You'll really have to find it as its rucked away down one of the back streets.<br> It's worth spending at least an hour or two here.  </dd>
        <dt><strong>Chill out and soak in the Romanian lifestyle</strong></dt>
        <dd> Go to Podstel/Veainaria 5 for multiple activity evenings. This is also a hostel, and has board game nights, local musicians perfom, yoga classes and more.<br> No one ever said Romanian's didn't know how to tick all the boxes.</dd>
        <dt><strong>World's largest collection of Irons</strong></dt>
        <dd> Okay this is a bit of a weird and wacky one, but can you really pass up the opportunity? They have the normal day to day iron to torpedo-shaped irons for shaping hats.</dd>
      </dl>
    </div>
    <br>
    <br>
    <br>
    <div>
    <h1>Where to stay in Romania:</h1>
    <img class="img-section" src= "./static/images/romania1.jpeg" alt="Romania" class="floatRight">
      <dl class="section">
        <dt><strong>Novotel Bucharest City Centre</strong></dt>
        <dd> with its distinct facade- honouring the flory days of a historical site- yet modern appearance, Novotel stands out as a convinent hotel in a 5 star location. You also get a swimming pool and wine bar all for a small price.  </dd>
        <dt><strong>Europa Royal Bucharest</strong></dt>
        <dd> Overlooking centuries of history, yet in the heart of Bucharest's happening nightlife.</dd>
        <dt><strong>Hotel Cismigiu</strong></dt>
        <dd> One of Bucharest's best hotels since 1912, its been brought to life with a contemprary twist, exuding the Art Nouveau flair its become known for.</dd>
      </dl>
    </div>
    <br>
    <br>
    <br>

    <div>
    <h1>Where to eat in Romania:</h1>
    <img class="img-section" src= "./static/images/romania2.jpg" alt="Romania" class="floatRight">
      <dl class="section">
        <dt><strong>Artichoke Coffee Shop</strong></dt>
        <dd> This restaurant has plants perched on spiral staircases, water served in gin bottles, food that transports you to heaven. Its instagrammable but with the delicious goods to back it up.</dd>
        <dt><strong>Bistro Carusel</strong></dt>
        <dd> If you aren't fussed on Romanian cuisine head here and also be spolit with glass celing that is beautiful. It's easy to miss this restaurant as it sits on the top floor of the Carturesti Carusel bookshop. This means there is always a table free. </dd>
        <dt><strong>Caru' Cu Bere</strong></dt>
        <dd>Bucharest's oldest beer houses, which offers delicious food and an incredible building. This building is one of the most breathtaking you'll ever enjoy a meal in. <br> Please insist on eating inside as thats where the magic happens. </dd>
      </dl>
    </div>
    <div>
      <br>
      <br>
      <br>
      <br>
    </div>


</body>
{% endblock %}
