{% extends "base.html" %}
{% block title %}Sweden{% endblock %}

{% block head_css %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='CSS/sweden.css')}}"></link>
{% endblock %}
{% block content %}
<link rel="stylesheet" text="text/css" href="/static/CSS/sweden.css">
<link rel="stylesheet" text="text/css" href="/static/CSS/bootstrap.css">

<body background="./static/images/backgroundall.jpg">
    <div class="topnav">
      <a href="/CarryOn">Home</a>
      <a href="/AboutUs">About Us</a>
      <a href="/Destinations">Destinations</a>
      <a href="/Findbuddy">Find a travel buddy</a>
    </div>

    <div>
      <img src= "./static/images/carryon.png" alt= "Carry On" width="800" align=center>
      <p>
        <strong> Jokkmokk, Sweden; Hej! Which is Sweden, means hello.</strong> <br> a municipality in Sweden, home of the Sámi people, and reindeers
      </p>
    </div>
    <br>

    <div>
      <h1>What to do in Jokkmokk:</h1>
      <img class="img-section" src= "./static/images/reindeerface_jokkmokk.jpg" alt="Jokkmokk" class="floatRight">
        <dl class="section">
          <dt><strong>Reindeer</strong></dt>
          <dd>Merry christmas, your dream to ride a reindeer is about to come true.</dd>
          <dt><strong>Northern Lights</strong></dt>
          <dd> The Northern Lights are something that's on everyone's bucket list. If you haven't seen them yet get ready. Oh and the beautiful site is absolutly free!!</dd>
          <dt><strong>Sareks National Park</strong></dt>
          <dd>No trails, no nothing. Just wilderness. Europe’s first national park and on the UN list.<br> Bring a Garmin Iridium or a topographic map & compass so you don’t get lost; cell phones are worthless</dd>
        </dl>
      </div>

      <br>
      <br>

      <div>
        <h1>Where to stay in Jokkmokk:</h1>
        <img class="img-section" src= "./static/images/igloo_jokkmokk.jpg" alt="Jokkmokk" class="floatRight">
          <dl class="section">
            <dt><strong>Hotel Jokkmokk</strong></dt>
            <dd>Set in green surroundings, right by Lake Talvatis, this Lapland hotel is just 8 minutes’ walk from Jokkmokk Station. <br>It offers regional cuisine and free Wi-Fi, gym and sauna access.</dd>
            <dt><strong>Artic Camp Jokkmokk</strong></dt>
            <dd> A warm welcome to a family-oriented camping site with free admission to the swimming pool, free showers and free rides on the water slide. </dd>
          </dl>
        </div>
        <br>
        <br>
        <br>
        <br>
        
        <div>
          <h1>Where to eat in Jokkmokk:</h1>
          <img class="img-section" src= "./static/images/ajitte_jokkmokk.jpg" alt="Jokkmokk" class="floatRight">
            <dl class="section">
              <dt><strong>Hotel Jokkmokk</strong></dt>
              <dd>Again we know. It's just that good.</dd>
              <dt><strong>Restaurang Ajtte</strong></dt>
              <dd> Gourmet meals in a beautiful setting.</dd>
              <dt><strong>Viddernas Cafe and Deli</strong></dt>
              <dd>Known for great food and a great atmosphere.</dd>
            </dl>
          </div>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <div>
            <p> Well then! Det är en dag imorgon också, which in Swedish means, 'there is a day tomorrow as well'. ;) </p>
          </div>


  </body>
{% endblock %}
