<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <title> Sweden </title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./CSS/lux.css">
    <link rel="stylesheet" type="text/css" href="./CSS/style.css">

<meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    img {
      border-radius: 50%;
    }
    </style>

  </head>
  <body>
    <body style="background-color:lightskyblue;">

    <div class="container">


    </div>


<div>
   <h1 style="text-align:center;"> What to do, Where to go, Swedish style! </h1>
    <h3 style="text-align:center;"> Hej! Which in Swedish, means 'hello'. Consider this a suggestion on how to have a fantastic experience, exploring some underated gems, on budget. Today's focus is Jokkmokk, a municipality in Sweden. </h3>
</div>


<div>
   <h2> Where To Stay </h2>
    <p> Aside from, Air BnB and Booking.com, there's  </p>
  <img src="igloo_jokkmokk.jpg" alt="igloo home">
</div>


<div>
   <h2> What To Do </h2>
    <p> Merry christmas, your dream to ride a reindeer is about to come true. </p>

     <img src="reindeerface_jokkmokk.jpg" alt="Reindeer's face">

    <img src="reindeer_jokkmokk.jpg" alt="Reindeer herd">
  <img src="reindeer_race_jokkmokk.jpg" alt="Reindeer race">


</div>


<div>
  <p> See the Northern Lights. </p>
  <img src="northlights_jokkmokk.jpg" alt="Northern Lights">
</div>


<div>
   <b> Well then! No rush, but you can go and begin your adventure now. Det är en dag imorgon också, which in Swedish means, 'there is a day tomorrow as well'. ;) </b>
</div>

<div>
  <b> Follow us on Instagram, Facebook and Twitter. If you would like to contribute to the blog, email us at carryon.org.uk </b>
</div>


<button> This is really helpful </button>
<button> This is how this could be more helpful </button>

  </body>
</html>
