<!doctype html>
<html>
<head>
<style>
  body {align: center}
</style>
  <title> Carry On | Valletta </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="./CSS/lux.css">
  <link rel="stylesheet" type="text/css" href="./CSS/valletta.css">
</head>


<body>
  <div class="topnav">
    <a href="./templates/CarryOn.html">Home</a>
    <a href="./templates/Aboutus.html">About Us</a>
    <a href="./templates/Destinations.html">Destinations</a>
    <a href="./templates/Findbuddy.html">Find a travel buddy</a>
  </div>


  <div>

    <img src= "./images/carryon.png" alt= "Carry On" width="800" align=center>
    <p>
      <strong> Valletta, the Fortress City </strong> <br> This city will make you feel as though you're walking back in time. Avid about historical art and architecture? Then this may be the trip for you!
    </p>
  </div>
  <div>
  <p1> What to do in Valletta:</p1>
    <dl>
       <dt>City Walking Tour with St John's Co-Cathedral </dt>
       <dd> Hear history unfold with a tour guide unraveling the beginnings of Valletta, it's evolution and the events that shaped it into the city it is today. Walk the grounds littered with palaces and churches from the past and catch a sneak peak of Malta's Grand Harbour! </dd>
       <dt> Visit the Natural Museum of Archaeology </dt>
       <dd> Archaeology students we got you! This site once served as the main house of the Knights of the Order of St John. Explore antiquity in Valletta with objects dating back as far as 5000BC!</dd>
       <dt></dt>
       <dd></dd>
    </dl>
  <p2> Where to stay in Valletta </p2>
    <dl>
       <dt></dt>
       <dd></dd>
       <dt></dt>
       <dd></dd>
       <dt></dt>
       <dd></dd>
    </dl>
  <p3> Where to eat in Valletta </p3>
    <dl>
       <dt> Le Majoliche </dt>
       <dd></dd>
       <dt> Yard 32 </dt>
       <dd></dd>
       <dt> il Pup </dt>
       <dd></dd>
    </dl>
  </body>
</html>
