

{% extends "base.html" %}
{% block title %}verona{% endblock %}

{% block head_css %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='CSS/verona.css')}}"></link>
{% endblock %}
{% block content %}
<link rel="stylesheet" text="text/css" href="/static/CSS/verona.css">
<link rel="stylesheet" text="text/css" href="/static/CSS/bootstrap.css">


<body background="./static/images/backgroundall.jpg">

    <div class="topnav">
      <a href="/CarryOn">Home</a>
      <a href="/AboutUs">About Us</a>
      <a href="/Destinations">Destinations</a>
      <a href="/Findbuddy">Find a travel buddy</a>
    </div>
  <div>
    <img src= "./static/images/carryon.png" alt= "Carry On" width="800" align=center>
    <p>
      <strong>Verona,<strong> Italy <br><i> The city of love: explore this incredible city with the help of our guide so that you don't burn a hole in your pocket!</i>
    </p>
  </div>
  <br>
  <div>
    <h1>What to do in Verona:</h1>
      <img class="img-section" src= "./static/images/verona.jpg" alt="Verona" class="floatRight">
      <dl class="section">
        <dt><strong>Off the beaten path</strong></dt>
        <dd> Start your trip with a cappuccino on Piazza Bra- Verona's unoffical arrival hall. <br>Here, medieval walls stand side to side with Renaissance architecture, but it's the Roman amphitheatre that steals the show- 10 Euros for entry.</dd>
        <dt><strong>Exploring the streets</strong></dt>
        <dd> Next hit the streets and head for piazza Delle Erbe. Walk through Via Mazzini to get there and explore Verona's shopping streets along the way.</dd>
        <dt><strong>Verona's Balcony</strong></dt>
        <dd> This is the busiest spot in Verona so try to get there early to make sure you get the full view. Take a pen and write on Juliets wall to mark your stay.<br> If you didn't know this suppousdly where Romeo and Juliet met. You can feel the romance.</dd>
      </dl>
    </div>
      <br>
      <br>
    <div>
    <h1>Where to stay in Verona:</h1>
      <img class="img-section"src= "./static/images/veronabalcony.jpg" alt="Verona" class="floatRight">
      <dl class="section">
        <dt><strong>Antica Valopolicella</strong></dt>
        <dd> This hotel is perfect if you have a budget. Its clean and practical, minutes from the Piazza Delle Erbe and you really can't beat the price for such a central location. Plus breakfast is included!! </dd>
        <dt><strong>Hotel Milano and Spa</strong></dt>
        <dd> This htoel is slightly more luxury, but still a great price for what you're getting. If you decide not to stay here still check out their Terreza Bar for amazing views.</dd>
        <dt><strong>Wallace House</strong></dt>
        <dd> Also known as 'Stella House', offers a car park and is just a few minutes from the Arena. </dd>
      </dl>
    </div>
    <br>
    <div>
      <br>
    <h1>Where to eat in Verona:</h1>
      <img class="img-section"src= "./static/images/veronabridge.jpg" alt="Verona" class="floatRight">
      <dl class="section">
        <dt><strong>Focacceria Ponte Pietra</strong></dt>
        <dd> Nestled along the winding cobblestone street that leads towards the Roman Stone Bridge, this little store sells pizaa and focaccia for 1.50 euro and they are heaven.</dd>
        <dt><strong>L-Ocanda Navona</strong></dt>
        <dd> Situated in a world of its own, one block away from Julietts Balcony, hands down the best restaurant in Verona, and not over priced!</dd>
        <dt><strong>Cappa Cafe</strong></dt>
        <dd> Next to the stretch of walk near the river, where you can peer at Ponte Pietro. This restaurant oozes italian charm with affordable menus and great portion sizes.</dd>
      </dl>
    </div>
  <div>
    <br>
    <br>
    <br>
    <br>
  </div>



</body>
{% endblock %}
